*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 10px;
    color: white;
    padding: 20px;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: chocolate;
   
}

.menu ul {
    display: flex;
    gap: 20px;
  
}

.menu ul a {
    color: wheat;
    font-weight: 600;
}